{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Zaloguj się</h2>
            <form method="post" class="card p-4 shadow-sm">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}